* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

.search-results {
  background-color: white;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  max-width: 75%;
  min-height: 200px;
}

button {
  background-color: greenyellow;
}